/* http://prismjs.com/download.html?themes=prism&languages=markup+css+clike+javascript */
/**
 * prism.js default theme for JavaScript, CSS and HTML
 * Based on dabblet (http://dabblet.com)
 * @author Lea Verou
 */


code[class*="language-"],
pre[class*="language-"] {
  color: black;
  background: none;
  text-shadow: 0 1px white;
  font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  line-height: 1.5;

  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;

  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}

pre[class*="language-"]::-moz-selection, pre[class*="language-"] ::-moz-selection,
code[class*="language-"]::-moz-selection, code[class*="language-"] ::-moz-selection {
  text-shadow: none;
  background: #b3d4fc;
}

pre[class*="language-"]::selection, pre[class*="language-"] ::selection,
code[class*="language-"]::selection, code[class*="language-"] ::selection {
  text-shadow: none;
  background: #b3d4fc;
}

@media print {
  code[class*="language-"],
  pre[class*="language-"] {
    text-shadow: none;
  }
}

/* Code blocks */
pre[class*="language-"] {
  padding: 1em;
  margin: .5em 0;
  overflow: auto;
}

:not(pre) > code[class*="language-"],
pre[class*="language-"] {
  background: #f5f2f0;
}

/* Inline code */
:not(pre) > code[class*="language-"] {
  padding: .1em;
  border-radius: .3em;
  white-space: normal;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: slategray;
}

.token.punctuation {
  color: #999;
}

.namespace {
  opacity: .7;
}

.token.property,
.token.tag,
.token.boolean,
.token.number,
.token.constant,
.token.symbol,
.token.deleted {
  color: #905;
}

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
  color: #690;
}

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string {
  color: #a67f59;
  background: hsla(0, 0%, 100%, .5);
}

.token.atrule,
.token.attr-value,
.token.keyword {
  color: #07a;
}

.token.function {
  color: #DD4A68;
}

.token.regex,
.token.important,
.token.variable {
  color: #e90;
}

.token.important,
.token.bold {
  font-weight: bold;
}
.token.italic {
  font-style: italic;
}

.token.entity {
  cursor: help;
}
/* line 1, /Users/graham/Sites/bob-morton/app/assets/stylesheets/layout.scss */
html, body {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 0;
}

/* line 7, /Users/graham/Sites/bob-morton/app/assets/stylesheets/layout.scss */
.content {
  padding: 20px;
}
/* line 1, /Users/graham/Sites/bob-morton/app/assets/stylesheets/login.scss */
.new_user {
  width: 200px;
  text-align: center;
  margin: auto;
  font-size: 1.2em;
  border-radius: 10px;
  border: 1px SOLID #CCC;
  margin-bottom: 20px;
  margin-top: 20px;
  padding-bottom: 10px;
}
/* line 12, /Users/graham/Sites/bob-morton/app/assets/stylesheets/login.scss */
.new_user .field {
  margin: 10px;
}
/* line 16, /Users/graham/Sites/bob-morton/app/assets/stylesheets/login.scss */
.new_user input[type=submit] {
  background-color: #000;
  border-radius: 10px;
  border: 0px;
  color: #FFF;
  padding: 10px;
}

/* line 25, /Users/graham/Sites/bob-morton/app/assets/stylesheets/login.scss */
h2 {
  margin: auto;
  text-align: center;
}

/* line 30, /Users/graham/Sites/bob-morton/app/assets/stylesheets/login.scss */
a[href='/users/password/new'] {
  margin: auto;
  text-align: center;
  display: block;
}
/* line 1, /Users/graham/Sites/bob-morton/app/assets/stylesheets/nav_bar.scss */
nav {
  background-color: #000;
  padding: 5px 10px;
  min-height: 55px;
}
/* line 6, /Users/graham/Sites/bob-morton/app/assets/stylesheets/nav_bar.scss */
nav ul {
  list-style: none;
  margin: 0x;
  padding: 0;
}
/* line 12, /Users/graham/Sites/bob-morton/app/assets/stylesheets/nav_bar.scss */
nav ul li a {
  color: #FFF;
}
/* line 16, /Users/graham/Sites/bob-morton/app/assets/stylesheets/nav_bar.scss */
nav .pull-right {
  float: right;
  margin-right: 10px;
}
/* line 1, /Users/graham/Sites/bob-morton/app/assets/stylesheets/patches.scss */
.file {
  padding: 20px;
}

/* line 5, /Users/graham/Sites/bob-morton/app/assets/stylesheets/patches.scss */
.patch {
  margin: 10px 0px;
  border: 1px SOLID #CCC;
  border-radius: 5px;
  overflow: scroll;
}

/* line 16, /Users/graham/Sites/bob-morton/app/assets/stylesheets/patches.scss */
table {
  width: 100%;
  border-radius: 10px;
  border-collapse: collapse;
}

/* line 22, /Users/graham/Sites/bob-morton/app/assets/stylesheets/patches.scss */
thead {
  border-bottom: 2px SOLID #000;
}

/* line 26, /Users/graham/Sites/bob-morton/app/assets/stylesheets/patches.scss */
tr {
  border-bottom: 1px SOLID #CCC;
}

/* line 30, /Users/graham/Sites/bob-morton/app/assets/stylesheets/patches.scss */
td {
  padding: 3px 6px;
}

/* line 34, /Users/graham/Sites/bob-morton/app/assets/stylesheets/patches.scss */
pre {
  line-height: 1.1em;
  font-family: "Source Code Pro" !important;
  font-size: 0.8em !important;
}

/* line 40, /Users/graham/Sites/bob-morton/app/assets/stylesheets/patches.scss */
pre:before {
  content: attr(data-content);
  display: inline-block;
  text-align: left;
  padding: 3px;
  min-width: 30px;
  background-color: #FFFFFF;
  border-right: 1px SOLID #CCC;
  text-align: right;
}
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *



 */

