<div class="main">
  <% if @projects.present? %>
    <% @projects.each do |project| %>
      <%= link_to project.name, project_path(project) %>
    <% end %>
  <% else %>
    <h2>NO PROJECT?</h2>
    <p>Create your first project to get started</p>
    <%= link_to 'Create my first project', new_project_path %>
  <% end %>
</div>