 html, body { 
  font-family: 'Open Sans', sans-serif; 
  font-size: 1em;
  margin:0 ;
  padding:0; 
  background-color:#ECECE8;
}

.content {
  padding: 20px;
}

.page-content {
  margin-top:45px;
  width:84%;
  margin-left:16%;
}

.main {
  margin-top:34px;
}