.file {
  padding:20px;
}

.patch {
  margin: 10px 0px;
  border:1px SOLID #CCC;
  border-radius:5px;
  overflow:scroll;
}

.violations {

}

table {  
  width:100%;
  border-radius: 10px;
  border-collapse: collapse;
}

thead {
  border-bottom:2px SOLID #000;
}

tr { 
  border-bottom: 1px SOLID #CCC; 
}

td { 
  padding:3px 6px;  
}

pre {  
  line-height:1.1em; 
  font-family: 'Source Code Pro' !important ;
  font-size: 0.8em !important; 
}

pre:before { 
  content: attr(data-content); 
  display: inline-block;
  text-align:left;
  padding:3px;
  min-width:30px;
  background-color:#FFFFFF;
  border-right: 1px SOLID #CCC; 
  text-align:right;

}
