.project {
  &:first-child {
    margin-top:60px;
  }

  i { 
    float:right;
    font-size:24px;
  }

  width:95%;
  margin: 10px 2%;
  padding:10px;
  border:1px SOLID #CCC;
  background-color:#FFF;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.1);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.1);
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.1);

  a {
    color:#000;
  }
}