.project {
  &:first-child {
    margin-top:100px;
  }

  i { 
    float:right;
    font-size:24px;
  }

  width:90%;
  margin: 10px 5%;
  padding:10px;
  border:1px SOLID #333;

  a {
    color:#000;
  }
}