<nav class=header>
  <i class="fa fa-eye" aria-hidden="true" style='color:#FFF; font-size:48px'></i>
  Oversight
  <ul class="pull-right">
    <li><%= link_to 'Log Out', destroy_user_session_path, method: :delete %></li>
  </ul>
</nav>
