<nav class=header>
  <i class="fa fa-eye" aria-hidden="true" style='color:#FFF; font-size:22px'></i>
    <% if content_for?(:breadcrumb) %>
      <%= content_for(:breadcrumb) %>
    <% else %>
      Oversight
    <% end %>
   <ul class="pull-right">
    <li>
      <%= link_to destroy_user_session_path, method: :delete do %>
        <i class='fa fa-sign-out' style="font-size:22px;padding:3px;"></i>
      <% end %>
    </li>
  </ul>
  <ul class="pull-right">
    <li>
      <%= link_to project_settings_path(@project) do %>
        <i class='fa fa-cog' style="font-size:22px;padding:3px;"></i>
      <% end %>
    </li>
  </ul>

</nav>
